.el-breadcrumb{
    margin-bottom: 15px;
}

.text {
    font-size: 14px;
  }

  .item {
    padding: 18px 0;
  }

  .el-table{
    margin-top: 15px;
  }
  .el-pagination{
    margin-top: 15px;
  }
  /* 顶部下划线 */
.role-mask .el-dialog__header {
  border-bottom: 1px solid #ccc;
}
